.wrapper {
    padding: 10px;
    border: 1px solid #ffffff00;
}
.wrapper p {
    margin: 0px;
}
.wrapper input {
    width: 100%;
}

.wrapper:hover {
    border: 1px dashed grey;
    border-radius: 8px;
}