<div class="wrapper">
    <div class="card">
        <h3>Received from child: {{resultTextArea}}</h3>
        <app-textarea-comp (onComplete)='displayResultTextArea($event)' value = 'text received from parent'></app-textarea-comp>
    </div>
    <div class="card">
        <h3>Received from child: {{result}}</h3>
        <app-text-comp (onComplete)='displayResult($event)' value = 'text received from parent'></app-text-comp>
    </div>
    <div class="card">
        <h3>Received from child: {{resultDate}}</h3>
        <app-date-comp (onComplete)='displayResultDate($event)' value = '2022-04-30'></app-date-comp>
    </div>
    <div class="card">
        <h3>Received from child: {{resultOption}}</h3>
        <app-dropdown-comp [selectedIndex]='2' [options]="dropdownOptions" (onComplete)='displayResultOption($event)'></app-dropdown-comp>
    </div>
    <div class="card">
        <h3>Received from child: {{resultTime}}{{resultTime}}</h3>
        <!-- <app-timepicker value='12:33' (onComplete)='displayTimeOption($event)'></app-timepicker> -->
        <app-timepicker value='12:33' (onComplete)='resultTime = $event'></app-timepicker>
    </div>
</div>