<div
    (click)="hideLabel()"
    class="wrapper">
    <a
        (focus)='hideLabel()'
        href=""
        style="text-decoration: none;"
        [hidden]="!showLabel">
        {{value}}
    </a>

    <div>
        <!-- <input
            type="time"
            class="form-control"
            (focusout)="triggerParent()"
            #focusableElement
            [hidden]="showLabel"
            [(ngModel)]='value'> -->
        <!-- <ngb-timepicker [(ngModel)]='newData' (openChange)='checkEvent($event)' (focusout)='triggerParent()'></ngb-timepicker> -->
        <div class="picker">
            <input type="number" max="12" min="1">
            <input type="number" max="59" min="0">
            <input type="text">
        </div>
    </div>
</div>